/* general layout */
*{
    font-family: "Rubik", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:150vh;
    margin: 0;
    padding:0;
    border:0;
}

.navbar {
    display:flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    gap: 20px;
    height: 100%;
    /* width: 20px; */
    text-align: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 10rem;
}

.navbar_content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    gap: 30px;
}

.logo {
    padding-top: 30px;
}

.logo img{
    width:70px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    width: 230px;
    align-items: stretch;
    margin:auto;
}

.menu div{
    display: flex;
    margin-left: 35px;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.menu img{
    height: 30px;
    filter: invert(100%);
}

.loginout img{
    width: 20px;
    filter: invert(100%);
}

.loginout{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    padding-top: 30px;
}

.navbar,
.navbar a,
.navbar a:visited{
    color: white;
}

.menu a:hover{
    color: gray;
}

.pagecontent{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-basis: 0;
    flex-grow: 999;
}

.content{
    display:flex;
    flex-direction: column;
    width:100%;
}

.title{
    padding: 20px;
    text-align: center;
    width: 100%;
}

.personalinfo{
    line-height: 50%;
}

.loginout {
    margin-top: auto;
}

a {
    text-decoration: none;
}

hr{
    color: black;
    width: 50%;
}

.flashedmsg {
    font-size: 15px;
}

/* assessment page */
.assessment_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.assessment_page_btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 150px;
}

.assessmentlist {
    display: flex;
    flex-direction: column;
    /* margin:auto; */
    justify-content: center;
    align-content: center;
    align-items: center;
    width:80%;
}

#published,
#draft,
#course {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#published h5,
#draft h5,
#course h5 {
    font-size: 20px;
    margin-bottom: -5px;
    background-color: rgb(59, 59, 59);
    color: white;
    padding-left: 10px;
}

table {
    border-spacing: 20px;
    text-align: center;
}

/* edit assessment page */
.editassessmentpage {
    display: flex;
    flex-direction: column;
    /* width:100%; */
}


.edit_assessment_info,
.showquestions {
    display: flex;
    flex-direction: column;
    width:70%;
    margin:auto;
    align-content: flex-end;
}

.deleteq_button{
    display: flex;
    align-self: flex-end;
    padding-bottom: 20px;
}

.currentAssessmentInfo_addq,
.currentAssessmentInfo_preview {
    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    /* width: 70%; */
    font-size: 20px;
    line-height: 0px;
}

.notAddedUp {
    color: red;
}

.currentAssessmentInfo {
    display: flex;
    flex-direction: column;
    margin: auto;
}


.addquestions_edit {
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    margin:auto;
    padding-bottom: 20px;
}

.delete_assessment {
    display: flex;
    flex-direction: column;
    margin:auto;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

/* add assessment page */
.newassessment_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}
.new_assessment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    width: 70%
}

/* Add assessment question page */
.addquestionbox {
    display: flex;
    flex-direction: column;
    margin: 100px;
    margin-top: 20px;
    align-items: center;
}


.sortQuestions{
    align-self:center;
}

.questionpool{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    width:60%;
}

.allquestions {
    padding-bottom: 50px;
}

.btns_addq {
    align-self: flex-end;
}
.addquestion_btn {
    float:right;
    margin-bottom: 10px;
}
.preview_button,
.addquestion_otherbtns{
    display: flex;
    align-self: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    padding-bottom: 20px;
    gap: 20px;
}

/* preview assessment page */
.preview_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions{
    width:90%;
    padding-bottom: 20px;
}