{% extends 'layout.html' %}
{% block header %}New Assessment{% endblock %}
{% block content %}
<form action="" method='POST'>
    {{ addassessmentform.csrt_token }}
    <div class="add_assessment">
        <p class="course">{{ addassessmentform.course.label }} {{ addassessmentform.course }}</p>
        <p class="assessmenttitle">{{ addassessmentform.assessmenttitle.label }} {{ addassessmentform.assessmenttitle}}</p>
        <p class="assessmenttype">{{ addassessmentform.assessmenttype.label }} {{ addassessmentform.assessmenttype}}</p>
        <p class="duedate">{{ addassessmentform.duedate.label }} {{ addassessmentform.duedate(class='datepicker')}} {{ addassessmentform.hidden_tag()}}</p>
        <p class="duedatetime">{{ addassessmentform.duedatetime.label }} {{ addassessmentform.duedatetime}} {{ addassessmentform.hidden_tag()}}</p>
        <p class="timelimit">{{ addassessmentform.timelimit.label }} {{ addassessmentform.timelimit}}</p>
        <p class="totalmark">{{ addassessmentform.totalmark.label }} {{ addassessmentform.totalmark}}</p>
    </div>
    <p>
        {{ addassessmentform.savenexit }}
        {{ addassessmentform.nextpage }}
    </p>
</form>
{% endblock content %}