{% extends 'layout.html' %}
{% block header %}<h1>Add Questions</h1>{% endblock %}
{% block content %}
    <div class="currentAssessmentInfo">
        <h5>Course: {{ assessment.course_code }}</h5>
        <h5>Assessment Title: {{ assessment.assessmenttitle }}</h5>
        <h5>Assessment Type: {{ assessment.assessmenttype }}</h5>
        <h5>Due Date and Time : {{ assessment.duedate }} {{ assessment.duedatetime }} </h5>
        <h5>Time Limit: {{ assessment.timelimit }}</h5>
        <h5>Total Mark: {{ assessment.totalmark }}</h5>
    </div>
    <hr>
    <div class="sortQuestions">
        <form method="POST" action="">
            {{ filterform.csrf_token }}
            <p>{{ filterform.qType }} {{ filterform.searchbar }}</p>
            <input type="submit" value="Filter">
        </form>
    </div>
    <table class="questionpool">
        <tr>
        </tr>
        <td>
            <table class='question'>
                <th>Questions</th>
                <tr>
                    <td>
                        {% if selected == 'Type1' %}
                            <form method="POST" action="">
                                {{ form.csrf_token }}
                                {{ form.t1opts }}
                                <input type="submit">
                            </form>
                        {% elif selected == 'Type2' %}
                            <form method="POST" action="">
                                {{ form.csrf_token }}
                                {{ form.t2opts }}
                                <input type="submit">
                            </form>
                        {% elif selected == 'All' %}
                            <form method="POST" action="">
                                {{ form.csrf_token }}
                                <h5>Multiple Choice</h5>
                                {{ form.t1opts }}
                                <h5>True/False</h5>
                                {{ form.t2opts }}
                                <input type="submit">
                            </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if selected == 'Type1' %}
                            {% for q in questions %}
                                {{ q.difficulty }}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
        <td class='difficultynused'>
            <table>
                <th>Difficulty</th>
                <th>Used</th>
                {% for q in filteredquestion %}
                <tr>
                    <td>{{ q.difficulty }}</td>
                    <td>{{ q.utilised }}</td>
                </tr>
                    {% endfor %}
            </table>
        </td>
    </table>
{% endblock %}