{% extends 'layout.html' %}
{% block header %}New Assessment{% endblock %}
{% block content %}
<div class="errors">
    {% if addassessmentform.errors.items() %}
        {% for field, errors in addassessmentform.errors.items() %}
            <small>
                {{ " ".join(errors) }}
            </small>
        {% endfor %}
    {% endif %}
</div>

<form action="" method='POST'>
    {{ addassessmentform.csrf_token }}
    <div class="add_assessment">
        <p class="course">{{ addassessmentform.course.label }} {{ addassessmentform.course }}</p>
        <p class="assessmentTitle">{{ addassessmentform.assessmenttitle.label }} {{ addassessmentform.assessmenttitle}}</p>
        <p class="assessmentType">{{ addassessmentform.assessmenttype.label }} {{ addassessmentform.assessmenttype}}</p>
        <p class="dueDate">{{ addassessmentform.duedate.label }} {{ addassessmentform.duedate(class='datepicker')}} {{ addassessmentform.hidden_tag()}}</p>
        <p class="dueDateTime">{{ addassessmentform.duedatetime.label }} {{ addassessmentform.duedatetime}} {{ addassessmentform.hidden_tag()}}</p>
        <p class="timeLimit">{{ addassessmentform.timelimit.label }} {{ addassessmentform.timelimit}}</p>
        <p class="totalMark">{{ addassessmentform.totalmark.label }} {{ addassessmentform.totalmark}}</p>
    </div>
    <p>
        <input type="submit" name="submit_button" value="Save and Exit">
        <input type="submit" name="submit_button" value="Add Questions">
    </p>
</form>
{% endblock content %}