{% extends 'layout.html' %}
{% block header %}Assessment{% endblock %}
{% block content %}
<div class="assessment_page">
    <div class="assessment_page_btn">
        <div>
            <form method="POST" action="">
                <input type="submit" name="assessment" value="Create assessment">
            </form>
        </div>
        <div>
            <form method="POST" action="">
                <input type="submit" name="assessment" value="Create questions">
            </form>
        </div>
    </div>
    <div class="sortassessment">
        <form method="POST" action="">
            {{ sortassessment.csrf_token }}
            <p>{{ sortassessment.sorttype }} {{ sortassessment.sort }}</p>
        </form>
    </div>
    {% if sortBy == 'Status'%}
    <div class="assessmentlist">
        {% for assessment in allassessments %}
            {% if assessment.status == 'Published' %}
                <div id='published'>
                    <h5>Published</h5>
                    <table>
                        <th>Course</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Due Date</th>
            {% break %}
            {% endif %}
        {% endfor %}
        {% for assessment in allassessments %}
            {% if assessment.status == 'Published' %}
                    <tr>
                        <td>{{ assessment.course_code }}</td>
                        <td><a href="previewassessment/{{ assessment.id }}">{{ assessment.assessmenttitle }}</a></td>
                        <td>{{ assessment.assessmenttype }}</td>
                        <td>{{ assessment.status }}</td>
                        <td>{{ assessment.duedate }}</td>
                        <td><a href="indiassessment/{{ assessment.id }}">Edit</a></td>
                    </tr>
            {% endif %}
        {% endfor %}
                    </table>
                </div>
        {% for assessment in allassessments %}
            {% if assessment.status == 'Draft' %}
                <div id='draft'>
                    <h5>Draft</h5>
                    <table>
                        <th>Course</th>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Due Date</th>
            {% break %}
            {% endif %}
        {% endfor %}   
        {% for assessment in allassessments %}
            {% if assessment.status == 'Draft' %}
                <tr>
                    <td>{{ assessment.course_code }}</td>
                    <td><a href="previewassessment/{{ assessment.id }}">{{ assessment.assessmenttitle }}</a></td>
                    <td>{{ assessment.assessmenttype }}</td>
                    <td>{{ assessment.status }}</td>
                    <td>{{ assessment.duedate }}</td>
                    <td><a href="indiassessment/{{ assessment.id }}">Edit</a></td>
                </tr>
            {% endif %}
        {% endfor %}
            </table>
        </div>
    </div>
    {% else %}
    <div class="assessmentlist">
        {% for course in allcourses %}
            {% for assessment in allassessments %}
                {% if assessment.course_code == course.courseCode%}
                    <div id='course'>
                        <h5>{{ course.courseCode }} {{ course.courseName }}</h5>
                        <table>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Due Date</th>
                            <tr>
                                <td><a href="previewassessment/{{ assessment.id }}">{{ assessment.assessmenttitle }}</a></td>
                                <td>{{ assessment.assessmenttype }}</td>
                                <td>{{ assessment.status }}</td>
                                <td>{{ assessment.duedate }}</td>
                                <td><a href="indiassessment/{{ assessment.id }}">Edit</a></td>
                            </tr>
                        </table>
                {% endif %}
            {% endfor %}
        {% endfor %} 
    </div>
    {% endif %}
</div>
{% endblock content %}