{% extends 'layout.html' %}
{% block header %}Edit Assessment{% endblock %}
{% block content %}
<div class="editassessmentpage">
    <!-- <div class='edit_form'> -->
        <div class="edit_assessment_info">
            <form method="POST" action="">
                {{ edit_assessment.csrf_token }}
                <p class="course">{{ edit_assessment.course.label }} {{ edit_assessment.course }}</p>
                <p class="assessmentTitle">{{ edit_assessment.assessmenttitle.label }} {{ edit_assessment.assessmenttitle }}</p>
                <p class="assessmentType">{{ edit_assessment.assessmenttype.label }} {{ edit_assessment.assessmenttype }}</p>
                <p class="dueDate">{{ edit_assessment.duedate.label }} {{ edit_assessment.duedate }} {{ edit_assessment.hidden_tag()}}</p>
                <p class="dueDateTime">{{ edit_assessment.duedatetime.label }} {{ edit_assessment.duedatetime }} {{ edit_assessment.hidden_tag()}}</p>
                <p class="timeLimit">{{ edit_assessment.timelimit.label }} {{ edit_assessment.timelimit(value=assessment.timelimit)}}</p>
                <p class="totalMark">{{ edit_assessment.totalmark.label }} {{ edit_assessment.totalmark(value=assessment.totalmark)}}</p>
                {% if marks < assessment.totalmark or marks > assessment.totalmark %}
                <p class="notAddedUp">Current Marks: {{ marks }}</p>
                {% else %}
                <p class="AddedUp">Current Marks: {{ marks }}</p>
                {% endif %}
                <p class="Retake">{{ edit_assessment.retake.label }} {{ edit_assessment.retake}}</p>
                <input type="submit" name='Save_d' value='Save'>
            </form>
        </div>
    <!-- </div> -->
    <hr>
    <div class="showquestions">
        {{ delete_question.csrf_token }}
        <form method='POST' action=''>
            <div class="question_in_assessment">
                <ol>
                    {% if delete_question.t1opts %}
                    {% for q in delete_question.t1opts %}
                    {% for value, label in delete_question.t1opts.choices %}
                    <li>{{ q }} {{ label }}</li>
                    {% endfor %}
                    {% break %}
                    {% endfor %}
                    {% endif %}
                    
                    {% if delete_question.t2opts %}
                    {% for q in delete_question.t2opts %}
                    {% for value, label in delete_question.t2opts.choices %}
                    <li>{{ q }} {{ label }}</li>
                    {% endfor %}
                    {% break %}
                    {% endfor %}
                    {% endif %}
                </ol>
            </div>
            <input type="submit" name='del' value='Delete Questions'>
        </form>
    </div>
    <div class="addquestions_edit">
        <button type="button" onclick="window.location.href='{{ url_for('HR', currentAssessmentID=assessmentID) }}';"> Add multiple choice questions </button>
    </div>
    <div class="delete_assessment">
        <form method="POST" action="">
            <input type="submit" name='del' value='Back'>
            {% if assessment.status == 'Draft' %}
                <input type="submit" name='del' value='Save'>
                <input type="submit" name='del' value='Publish'>
            {% elif assessment.status == 'Published' %}
                <input type="submit" name='del' value='Update'>
            {% endif %}
            <input type="submit" name='del' value='Preview'>
            <input type="submit" name='del' value='Delete Assessment'>
        </form>
    </div>
</div>
{% endblock content %}